<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Prism.Unity" />
      <package pattern="System.Reactive" />
      <package pattern="Prism.Wpf" />
      <package pattern="Microsoft.Windows.CsWin32" />
      <package pattern="Microsoft.Windows.SDK.Win32Metadata" />
      <package pattern="Microsoft.Windows.WDK.Win32Metadata" />
      <package pattern="Microsoft.Windows.SDK.Win32Docs" />
      <package pattern="Microsoft.NET.ILLink.Tasks" />
      <package pattern="Microsoft.NETCore.App.*" />
      <package pattern="Microsoft.WindowsDesktop.App.*" />
      <package pattern="Microsoft.AspNetCore.App.*" />
      <package pattern="Microsoft.Extensions.DependencyInjection.Abstractions" />
      <package pattern="Prism.Container.Abstractions" />
      <package pattern="Prism.Core" />
      <package pattern="Prism.Events" />
      <package pattern="Microsoft.Xaml.Behaviors.Wpf" />
      <package pattern="Prism.Container.Unity" />
      <package pattern="Unity.Abstractions" />
      <package pattern="Unity.Container" />
      <package pattern="Unity" />
    </packageSource>
  </packageSourceMapping>
</configuration>
