<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="modules" type="Crystal.ModulesConfigurationSection, Crystal"/>
	</configSections>
	<startup>
	</startup>
	<modules>
		<module assemblyFile="ModuleA.dll" moduleName="ModuleAModule" startupLoaded="True"
						moduleType="ModuleA.ModuleAModule, ModuleA, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
	</modules>
</configuration>